{
  "access_token": "YOUR_ACCESS_TOKEN_HERE",
  "token_type": "bearer",
  "refresh_token": "YOUR_REFRESH_TOKEN_HERE",
  "expires_in": 21599,
  "scope": "talk_message friends",
  "refresh_token_expires_in": 5183999
}