{
    "client_id": "CLIENT_ID",
    "redirect_uri": "http://LOCALHOST:8000/oauth",
    "scopes": "talk_message,friends,profile_nickname,profile_image",
    "authorize_url": "https://kauth.kakao.com/oauth/authorize",
    "token_url": "https://kauth.kakao.com/oauth/token"
}